In [2]:
import pandas as pd

## CSV with no header for data

In [10]:
# get CC_realtor_merged_cleaned_adjusted.csv
CC_realtor_merged_cleaned_adjusted = pd.read_csv('../Data/CC_realtor_merged_cleaned_adjusted.csv')

# head
CC_realtor_merged_cleaned_adjusted.head()

,ZIP,SOLDPRICE,SQFT,BEDS,BATHS,AGE,DOM,lat,long,zip_cluster,price_multiplier,days_on_market_multiplier,adjusted_sold_price,adjusted_dom
0,2474,410000.0,1368,2,2.0,3,897,42.4202,-71.1565,2474.0,0.492502,0.352941,201925.858031,316.588235
1,2124,327000.0,1850,2,2.5,5,658,42.2918,-71.0717,2124.0,0.753723,1.320000,246467.513766,868.560000
2,2184,331000.0,1469,2,1.0,38,467,42.2093,-70.9963,2184.0,0.660431,0.435897,218602.614649,203.564103
3,1949,580000.0,2945,2,2.5,4,565,42.5942,-71.0130,1949.0,0.621947,1.500000,360729.317692,847.500000
4,2139,1000000.0,2536,3,2.5,3,56,42.3647,-71.1042,2139.0,0.662793,0.240741,662792.730048,13.481481

In [11]:
# remove ZIP, lat, long, price_multiplier, days_on_market_multiplier, adjusted_sold_price, adjusted_dom, SOLDPRICE
CC_realtor_merged_cleaned_adjusted = CC_realtor_merged_cleaned_adjusted.drop(columns=['ZIP', 'lat', 'long', 'price_multiplier', 'days_on_market_multiplier', 'adjusted_sold_price', 'adjusted_dom', 'SOLDPRICE'])

# one hot encode the zip_cluster column
CC_realtor_merged_cleaned_adjusted = pd.get_dummies(CC_realtor_merged_cleaned_adjusted, columns=['zip_cluster'])

# get head 
CC_realtor_merged_cleaned_adjusted.head()

,SQFT,BEDS,BATHS,AGE,DOM,zip_cluster_1420.0,zip_cluster_1432.0,zip_cluster_1450.0,zip_cluster_1451.0,zip_cluster_1453.0,...,zip_cluster_2649.0,zip_cluster_2673.0,zip_cluster_2703.0,zip_cluster_2718.0,zip_cluster_2720.0,zip_cluster_2760.0,zip_cluster_2762.0,zip_cluster_2766.0,zip_cluster_2767.0,zip_cluster_2780.0
0,1368,2,2.0,3,897,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1850,2,2.5,5,658,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1469,2,1.0,38,467,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2945,2,2.5,4,565,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2536,3,2.5,3,56,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
# make DOM the first column, then save to csv with header
# there are a ton of zip_cluster columns, so we can't list them out when indicating the order of the columns otherwise
pd.concat([CC_realtor_merged_cleaned_adjusted['DOM'], CC_realtor_merged_cleaned_adjusted.drop(columns=['DOM'])], axis=1).to_csv('../Data/baseline_model/CC_baseline_header.csv', index=False)

# save another that doesn't have column names
pd.concat([CC_realtor_merged_cleaned_adjusted['DOM'], CC_realtor_merged_cleaned_adjusted.drop(columns=['DOM'])], axis=1).to_csv('../Data/baseline_model/CC_baseline_no_header.csv', index=False, header=False)

## Make a json with a mapping from the zip code to zip code cluster

In [16]:
# get CC_realtor_merged_cleaned_adjusted.csv
CC_realtor_merged_cleaned_adjusted = pd.read_csv('../Data/CC_realtor_merged_cleaned_adjusted.csv')

# head
CC_realtor_merged_cleaned_adjusted.head()

,ZIP,SOLDPRICE,SQFT,BEDS,BATHS,AGE,DOM,lat,long,zip_cluster,price_multiplier,days_on_market_multiplier,adjusted_sold_price,adjusted_dom
0,2474,410000.0,1368,2,2.0,3,897,42.4202,-71.1565,2474.0,0.492502,0.352941,201925.858031,316.588235
1,2124,327000.0,1850,2,2.5,5,658,42.2918,-71.0717,2124.0,0.753723,1.320000,246467.513766,868.560000
2,2184,331000.0,1469,2,1.0,38,467,42.2093,-70.9963,2184.0,0.660431,0.435897,218602.614649,203.564103
3,1949,580000.0,2945,2,2.5,4,565,42.5942,-71.0130,1949.0,0.621947,1.500000,360729.317692,847.500000
4,2139,1000000.0,2536,3,2.5,3,56,42.3647,-71.1042,2139.0,0.662793,0.240741,662792.730048,13.481481

In [17]:
# df with zip code and zip_cluster
zip_cluster_df = CC_realtor_merged_cleaned_adjusted[['ZIP', 'zip_cluster']].drop_duplicates()

# save to json
zip_cluster_df.to_json('../Data/baseline_model/zip_cluster_mapping.json', orient='records')